<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- For button images -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">MoviesForYou</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/movies">Movies <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="/movies/add_movie">Add Movie <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      When you got nothing better to do, we got movies for you
    </span>
    </div>
</nav>



<table class="table table-striped">
    <thead>
    <th class="col">Movie Name</th>
    <th class="col">Director surname</th>
    <th class="col">Director forename</th>
    <th class="col">Genre</th>
    <th class="col">Release Date</th>
    <th class="col">Rating</th>
    <th class="col">Duration</th>
    <th class="col">Edit Movie</th>
    <th class="col">Delete Movie</th>
    </thead>
    <tr th:each="movie, iter : ${movies}">
        <td th:text="${movie.name}"></td>
        <td th:text="${movie.dirSurname}"> </td>
        <td th:text="${movie.dirForename}"></td>
        <td th:text="${movie.releaseDate}"></td>
        <td th:text="${movie.genre}"></td>
        <td th:text="${movie.rating}"></td>
        <td th:text="${movie.duration}"></td>
        <td><a th:href="@{'/movies/edit/' + ${iter.index}}" class="btn btn-info fas fa-pen"></a></td>
        <td><a th:href="@{'/movies/delete/' + ${iter.index}}" class="btn btn-danger fas fa-trash"></a></td>
    </tr>
</table>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>